html
  height 100%

body
  width 500px
  height 400px
  font-family: 'Calibri', sans-serif;
  font-size 1em
  line-height 1.4
  color #333
  background #fff
  overflow-y scroll

*
*:before
*:after
  box-sizing border-box