.DS_Store
*.bash_history
.bash_history

node_modules/

*.swp
*~
*.iws


logs
*.log
npm-debug.log*

public/

*.map
*.gz
*.zip
*.rar

.project
/.idea
/.idea/*
*.sublime-project
*.sublime-workspace
.brackets.json

*.sketch
*.TODO
