<div id="issue-template" hidden>
  <div id="issue-&#123;&#123;issueId&#125;&#125;" class="issue">
    <div class="issue__name"><a href="&#123;&#123;reference&#125;&#125;" target="_blank">bug-&#123;&#123;issueId&#125;&#125; (&#123;&#123;project&#125;&#125;)</a></div>
    <div class="issue__descr"><span class="issue__label">Subject:</span> &#123;&#123;subject&#125;&#125;</div>
    <div class="issue__row">
      <div class="issue__col">
        <div class="issue__item"><span class="issue__label">Estimated time:</span> &#123;&#123;estimatedHours&#125;&#125;h</div>
        <div class="issue__item js-current-time">&#123;&#123;currentTime&#125;&#125;</div>
      </div>
      <div class="issue__col">
        <div class="issue__item"><span class="issue__label">Spent hours:</span> &#123;&#123;spentHours&#125;&#125;h</div>
        <div class="issue__item"><span class="issue__label">Timer start:</span> &#123;&#123;timerStart&#125;&#125;</div>
      </div>
    </div>
    <div class="issue-controls">
      <div class="issue-controls__item">
        <button class="issue-controls__btn js-start">start</button>
      </div>
      <div class="issue-controls__item">
        <button class="issue-controls__btn js-record">record</button>
      </div>
      <div class="issue-controls__item">
        <button class="issue-controls__btn js-remove">remove</button>
      </div>
    </div>
  </div>
</div>
