<div class="form">
  <div class="form__wrap">
    <label class="form__label" for="redmine-url">Redmine Url</label>
    <input class="form__field" id="redmine-url" type="text" name="redmineUrl" value="" placeholder="http://redmine.project.com/">
  </div>
  <div class="form__wrap">
    <label class="form__label" for="redmine-api-key">API Key</label>
    <input class="form__field" id="redmine-api-key" type="password" name="redmineApiKey" value="">
  </div>
  <div class="form__wrap">
    <input id="save-option" type="button" value="Save">
  </div>
  <div class="form__wrap">
    <div id="status-bar" class="form__status-bar"></div>
  </div>
</div>
