.form {
  padding: 10px 0;
}

.form__wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form__label,
.form__field {
  display: inline-block;
  box-sizing: border-box;
}

.form__label {
  width: 20%;
}

.form__field {
  width: 80%;
}

.form__status-bar {
  min-height 25px;
}